root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# Files that don't have an extension
[DevelopmentTools/*]
end_of_line = lf

[DevelopmentTools/*.cmd]
end_of_line = crlf

[*.{php,sh}]
end_of_line = lf
indent_size = 4
indent_style = tab
