/SourceCode/GoogleDriveCliPhp/LogFiles
/SourceCode/GoogleDriveCliPhp/vendor

/SourceCode/GoogleDriveCliPhp/credentials.json
/SourceCode/GoogleDriveCliPhp/GoogleDriveServiceAccount.json
/SourceCode/GoogleDriveCliPhp/tokens.json
